#inspection-emd-contingency-input {
  width: 70% !important;
}

.custom-input {
  width: 5%;
}

#task-input {
  width: 77%;
}

.address-lookup{
  margin: 6px;
}

#address-lookup-input{
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
  width: 50%;
}

#address-lookup-button {
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 5px;
}
